{% extends "base.html" %}



{% block content %}


<div class='col-md-6 offset-md-3'> 

{% comment %} ---- COMIENZO Para determnar si un usuario asta logueado o no {% endcomment %}
{% if user.is_authenticated  %}

<h1> RECORDS... </h1>

{% comment %} ----- COMIENZO : Logica para los records  {% endcomment %}

{% if records %}
  {% for record_query in records %}
    {% comment %} Vamos a llamar recods por records {% endcomment %}
    {{ record_query.first_name }} <br/>
    {{ record_query.last_name }} <br/>
    {{ record_query.email }} <br/>
    {{ record_query.phone }} <br/>
    {{ record_query.address }} <br/>
    {{ record_query.city }} <br/>
    {{ record_query.state }} <br/>
    {{ record_query.zipcode }} <br/>
  
  {% endfor %}

{% endif %}
{% comment %} ----- FIN : Logica para los records  {% endcomment %}


{% else %}


    <h1> Login </h1>

    {% comment %} para empezar a crear el form para el Login {% endcomment %}
    <form method='POST' action={% url 'home' %} >
        {% comment %} para ponerle mas seguridad a los hacker {% endcomment %}
        {% csrf_token %}

        {% comment %} Form {% endcomment %}
            <div class="form-group">
              <input type="text" class="form-control" name= 'username' placeholder='Username'>
            </div>
            <br/>
            <div class="form-group">
              <input type="password" class="form-control" name= 'password' placeholder='Password' required>
            </div>
            <br/>
            <button type="submit" class="btn btn-secondary">Login</button>
    </form>

</div>

{% endif %}
{% comment %} ----- FIN para determinar si un usuario esta loqueado o no  {% endcomment %}


{% endblock  %}